@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #121213;
    font-family: 'Raleway', sans-serif;
}

header{
    width: 100%;
    height: 10%;
    display:inline-block;
    position: fixed;
    top: 0;
    text-align: center;
}

.tutorial{
    color: #cfcfcf;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 15px;
}

main{
    width: 100%;
    margin-top: 22.5vh;
}

hr{
    border-top: solid 1px #404040;
    border-bottom: solid 0px #404040;
    border-left: solid 0px #404040;
    border-right: solid 0px #404040;
    width: 45%;
}

button{
    width: 9%;
    margin: 0.5%;
    border-radius: 6px;
    color: whitesmoke;
    background-color: #404040;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

footer{
    width: 100%;
    height: 28%;
    position: fixed;
    bottom: 0;
}

.title{
    font-size: 50px;
    margin-left: 3vw;
    margin-right: 3vw;
    font-weight: 600;
    color: whitesmoke;
}

.ico{
    width: 25px;
    margin-left: 0.2vw;
    margin-right: 0.2vw;
    margin-top: 1vh;
    -webkit-filter: invert(95%);
    filter: invert(95%);
    padding: 10px;
    border-radius: 6px;
}
.ico:hover{
    background-color: #404040;
    -webkit-filter: invert(10%);
    filter: invert(10%);
}

.replay{
    margin-left: 33%;
    width: 33%;
    height: 46%;
    z-index: 1;
    background-color: #121213;
    border: solid 2px #212121;
    border-radius: 10px;
    position: fixed;
    text-align: center;
    display: block;
    margin-top: 30vh;
}

.table1{
    margin: auto;
    border-collapse: separate;
    border-spacing: 5px 5px;
}

.td1{
    border: solid 2px #404040;
    width: 60px;
    height: 60px;
    border-radius: 3px;
    color: whitesmoke;
    text-align: center;
    font-weight: 600;
}

.teclado{
    display: flex;
    height: 23%;
}

.buttons{
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
    height: 100%;
}

.x{
    position: fixed;
    left: 61vw;
    color: #cccccc;
    font-weight: 600;
    border-radius: 3px;
    padding-top: 2vh;
    padding-bottom: 2vh;

}

.y{
    position: fixed;
    left: 36vw;
    color: #c5c5c5;
    background-color: #121213;
    box-shadow: 1px 1px 2px 1px #404040;
    width: 56px;
    border-radius: 50%;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-right: auto;
    margin-left: auto;
    border: solid 2px #242424;
    transition-duration: 0.5s;
}

.y:hover{
    background-color: #7676761f;
    border: solid 2px #7676761f;
}

.box{
    padding-top: 3vh;
}

.box-claim{
    border-bottom: solid 2px #7676761f;
    padding-bottom: 1vh;
    margin-bottom: 3vh;
}

.claim{
    background-color: #7676761f;
    padding: 5px;
    padding-left: 1vw;
    padding-right: 1vw;
    border: none;
    color: whitesmoke;
    border-radius:3px;
    font-weight: 600;
    font-size:14px;
    outline: none;
}


.btn-claim{
    padding: 5px;
    border-radius: 0px 6px 6px 0px;
    margin-left: 0;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.your-reward{
    color: whitesmoke;
    font-weight: 600;
    font-size:40px;
}

.btn-reward{
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    height: 4vh;
}

li{
    list-style: none;
    color: #d8d8d8;
    margin-bottom: 1vh;
    font-size: 20px;
    font-weight: 600;
}

.li-reward{
    margin-bottom: 3vh;
}

.pay{
    padding: 10px;
}


.green{
    color: #67b956;
}
.yellow{
    color: #d4d668;
}

.bnb{
    background-color: #212121;
    padding: 9px;
    border-radius: 3px;
}
